/* Box Model Hack */
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
    font-size: 16px;
    font-family: 'Orbitron', Helvetica, sans-serif;
    color: #fff;
    background-color: #000
}
h1, button, input {
    font-weight: 700
}
h1, h2, h3 {
    text-transform: uppercase;
}
h1 {
    font-size: 2rem;
    text-align: center;
}
h2 {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}
h3 {
    font-size: 1rem;
}
p {
    font: 600 1rem 'Tenor Sans', Helvetica, sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 1070px;
    margin: auto;
}
section.datePicker {
    display: flex;
    flex-flow: column;
    align-items: center;
}
section.results {
    margin-top: 30px;
}
section.info {
    width: 535px;
    padding: 30px 40px 20px 40px;
    position: fixed; 
    left: 50%;
    bottom: 0px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    line-height: 1.3rem;
    max-height: 555px;
    /* independent scroll for info as needed, e.g. 01-02-2021, 01-12-2021 */
    overflow: auto;  
    -ms-overflow-style: none;  /* hide scrollbar for IE, Edge */
    scrollbar-width: none;  /* hide scrollbar for Firefox */
}
section.info::-webkit-scrollbar {
    display: none; /* hide scrollbar for Chrome, Safari, Opera */
}
section.infoHeader {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
#description {
    display: none;
}
.media {
    display: none;
    margin: 0 auto;
    width: 100%;
}
iframe {
    height: 550px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
