/* Box Model Hack */
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
    font-size: 16px;
}
h1, button, input {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700
}
h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
section.datePicker {
    display: flex;
    flex-flow: column;
    align-items: center;
}
img {
    display: none;
    margin: 0 auto;
    height: 400px;
}
iframe {
    display: none;
    margin: 0 auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
