/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
    box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
    display: none;
    margin: 0 auto;
    height: 400px;
}

iframe {
    display: none;
    margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
